.hero-img {
  background-image: url(../images/home-slogan.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.active-img {
  background-image: url(../images/home-be-active.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}

.dry-img {
  background-image: url(../images/home-stay-dry.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 800px;
}

@media (min-width: 1600px) {
  nav {
    justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .hero-img {
    height: 1000px;
    background-size: cover;
    background-position: center;
  }

  .active-img {
    height: 1000px;
    background-position: left;
  }

  .dry-img {
    background-position: top;
    height: 1000px;
  }
}
@media (max-width: 1000px) {
  .hero-img {
    height: 750px;
    background-position: center;
  }
}

@media (max-width: 400px) {
  .dry-img {
    background-position: bottom;
    height: 700px;
  }
}
