.container,
.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4);
}

.container {
  margin-top: 20px;
}

.content {
  grid-column: 3/11;
  grid-row: 1/5;
  /*border: 1px solid black;*/
}

.big-product-photo {
  grid-column: 2/5;
  grid-row: 1;
  overflow: hidden;
}

.big-product-photo img {
  border-radius: 10px;
  min-height: autp;
  max-width: 100%;
}

.copy {
  grid-column: 6/12;
}

.copy .breadcrumbs {
  text-align: left;
}

.headings {
  text-align: left;
  text-transform: uppercase;
}

.headings h1 {
  font-size: 30px;
  margin: 0;
}

.headings h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.jacket-copy {
  min-width: auto;
}

.jacket-copy .text {
  background-color: white;
  margin-right: 90px;
  font-size: 17px;
}

.info-section .info {
  font-size: 13px;
  font-weight: lighter;
}

.add-to-cart {
  background-color: #343f43;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.add-to-cart:hover {
  background-color: white;
  color: #243a31;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.added {
  color: #ffbd00;
  border-radius: 400px;
  transition: ease 0.4s;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
