main .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

main div .content {
  background-color: lightblue;
  grid-column: 3/11;
  grid-row: 1/4;
}
