body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #fff;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header,
main,
footer {
  grid-column: 1/13;
}

header,
nav {
  display: flex;
  top: 0;
  margin: 0;
}

header,
footer {
  background-color: #314f43;
  color: white;
}
