@media (min-width: 1600px) {
  nav {
    justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .hero-img {
    height: 750px;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1000px) {
  .hero-img {
    height: 750px;
    background-position: center;
  }
}

/* 800px and larger */
@media (min-width: 800px) {
  .hamburger-label,
  #hamburger-menu {
    display: none;
  }
}

/* 799px and smaller */
@media (max-width: 799px) {
  li a {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  #hamburger-menu:checked ~ li a {
    display: block;
    justify-content: normal;
  }

  nav i {
    font-size: 18px;
  }

  .nav-logo {
    max-width: 90px;
  }
}

/* 601px and larger */
@media (min-width: 601px) {
}

@media (max-width: 600px) {
}
