nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.nav-logo {
  width: 100px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Raleway";
  padding: 13px 16px;
  text-align: center;
  color: #fff;
}

.menu-icons i {
  padding: 8px;
}

/* Hover effects */

li a:hover,
.menu-icons i:hover {
  background-color: white;
  color: #243a31;
  transition: 0.2s;
  border-radius: 10px;
}

li a:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.menu-icons i:hover {
  cursor: pointer;
}

/* From 800px and higher */
@media (min-width: 800px) {
  li {
    display: inline;
  }

  #menu-checkbox,
  .hamburger-icon {
    display: none;
  }
}

/* From 799px and lower*/
@media (max-width: 799px) {
  nav {
    overflow: hidden;
  }

  ul {
    display: none;
  }

  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ ul {
    display: block;
  }

  li a {
    display: block;
  }
}
