@font-face {
  font-family: "Raleway", "Roboto";
  src: url();
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3 {
  font-family: "raleway";
  font-weight: 900;
}

p {
  font-family: "roboto";
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  size-adjust: 100%;
  align-items: center;
  min-width: 100%;
}

header .logo {
  max-width: 100px;
  margin-left: 20px;
}

.hamburger-label {
  float: left;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  display: block;
  font-family: "Roboto";
  font-weight: normal;
}

input .hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.header-icons {
  margin-right: 20px;
}

#search-icon {
  padding: 0px 5px;
}

.header-icons,
#menu-icon {
  font-size: 1.5em;
}

.hamburger-label:hover,
#search-icon:hover,
#cart-icon:hover,
nav li:hover {
  color: #ffbd00;
}

nav {
  margin-left: 20px;
  left: 0;
  float: left;
}

nav ul {
  padding: 0px;
}

nav li {
  float: left;
  text-align: center;
  display: inline;
  font-family: "Raleway";
  font-weight: bolder;
  padding: 10px;
}

main {
  padding-top: 60px;
  max-width: 800px;
  margin: 0 auto;
}

main i {
  color: #000;
  font-size: 2rem;
  margin: 50px;
  overflow: auto;
}

main i:hover {
  text-decoration: underline;
}

header,
footer {
  background-color: #314f43;
  color: #fff;
}

footer {
  right: 0;
  left: 0;
  text-align: center;
  min-width: 100%;
}

/* Links */
a {
  text-decoration: none;
}

nav a {
  color: #fff;
}

/* Home page */

.welcome,
.sp,
.sp2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  min-width: 200vh;
  min-height: 250vh;
  position: relative;
}

.welcome {
  background-image: url(../images/home-slogan.jpg);
}

label span {
  display: block;
  font-family: "roboto";
}

.sp {
  background-image: url(../images/home-be-active.jpg);
}

.sp2 {
  background-image: url(../images/home-stay-dry.jpg);
  min-height: 300vh;
}

.welcome .slogan {
  color: #fff;
  font-size: 8rem;
  position: absolute;
  top: 550px;
  left: 220px;
}

h1 span {
  display: block;
  color: #fff;
  position: absolute;
  left: 300px;
}

h1 .zone {
  display: block;
  position: absolute;
  top: 300px;
  left: 600px;
}

.sp__beactive {
  color: #314f43;
}

/* Contact page*/

.about-intro {
  text-align: center;
}

.about-intro h1 {
  text-align: center;
  font-family: "raleway";
  text-transform: uppercase;
  font-size: 2.5em;
  color: #314f43;
  margin: 10px 0px 0px 0px;
}

.about-intro .sub-head-about {
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
}

.about-intro .breadcrumbs {
  margin: 30px 0px 50px;
}

.about-item h2 {
  font-family: ;
}

.about-item p {
  font-family: "roboto";
  font-size: 12px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.about-item img {
  width: 100%;
}

input,
select {
  border: 1px solid #000;
  border-radius: 50px;
}

textarea {
  border: 1px solid #000;
  border-radius: 10px;
}

.sub-head-about {
  font-family: "dancing script";
}

.cta-submit {
  background-color: #314f43;
}

/* Jackets page */

.featured-product img {
  width: 100%;
}

.headline {
  margin-bottom: 30px;
}

.headline h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bolder;
}

h2 {
  font-family: "montserrat";
  font-size: 24px;
  font-weight: normal;
}

.headline h1,
h2,
h3,
.breadcrumbs,
.featured p,
.featured-product {
  color: #314f43;
  margin: auto;
  text-align: center;
}

.featured h3 {
  font-family: "raleway";
  text-transform: uppercase;
  font-weight: 900;
}

.featured p {
  font-family: "montserrat";
  text-transform: uppercase;
  margin-bottom: 10px;
}

.breadcrumbs {
  margin-top: 10px;
  text-transform: uppercase;
}

.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 100px;
}

.view-cta {
  border: 1px solid #314f43;
  border-color: #314f43;
  color: #000;
  text-align: center;
  padding: 5px 25px;
  font-family: "montserrat";
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  grid-column: 1;
}

.view-cta:hover {
  background-color: #97a6a0;
  color: #fff;
  border: none;
}

/* Product Specific Page */
.jktspcfc-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.grid-item h1 {
  text-align: center;
  font-family: "raleway";
  font-size: 40px;
  color: #314f43;
  margin: 10px 0px 0px 0px;
}

.grid-item h2 {
  font-size: 20px;
}

.grid-item p {
  margin-top: 50px;
  text-align: justify;
  font-size: 15px;
}

.product-specific > * {
  flex: 1;
}

.product-image {
  width: 500px;
  height: 600px;
}

.product-image_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.breadcrumbs {
  color: #000;
  font-family: "raleway";
  font-size: 0.6em;
}

p,
.products p {
  color: #314f43;
  font-family: "montserrat";
}

#info-icon {
  color: #ffbd00;
  font-size: 15px;
  margin: 30px 0px 0px 0px;
  padding-left: 2px;
}

#info-icon:hover {
  text-decoration: none;
}

.info-section {
  background-color: #e3e3e2;
  color: #314f43;
  max-width: 280px;
  text-align: justify;
  padding: 5px;
}

.cta {
  background-color: #314f43;
  color: #fff;
  border-radius: 50px;
  display: grid;
  text-align: center;
  max-width: 100px;
  padding: 10px;
}

.cta:hover {
  background-color: #97a6a0;
}

#sizes {
  background-color: #fff;
  color: #97a6a0;
  border-radius: 50px;
  border-style: solid;
  font-family: "raleway";
  font-weight: lighter;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  margin-top: 5px;
}

#sizes:hover {
  color: #000;
}

.other-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: auto;
  margin: 60px 0px;
  gap: 40px;
}

.other-products h3 {
  grid-column: -1/1;
  font-weight: normal;
  font-family: "montserrat";
}

.products img {
  width: 100%;
}
.products h4,
.products p {
  margin: auto;
  text-align: center;
}

.products h4 {
  font-family: "raleway";
  color: #314f43;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.products p {
  font-size: 13px;
  text-transform: uppercase;
}

.products .view-cta {
  display: grid;
  font-size: 9px;
  margin: 5px 0px;
  text-align: center;
  min-width: 10px;
}

/* Media */

@media (max-width: 600px) {
  .featured,
  .jktspcfc-container,
  .other-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .breadcrumbs {
    margin-top: 50px;
  }

  .header-icons,
  #menu-icon {
    font-size: 1.5em;
    margin: 0px 21.5px;
  }

  #search-icon {
    padding: 5px;
    margin: 0px;
  }

  #cart-icon {
    padding: 5px;
    margin-left: 2px;
  }

  label span {
    font-size: 13px;
    margin-right: 20px;
  }

  .logo-container img {
    max-width: 100px;
    margin: none;
  }
}
