@font-face {
  font-family: "Raleway", "Roboto";
  src: url();
}

body {
  background-color: #fff;
}

h1,
h2 {
  font-family: "raleway";
  font-weight: 900;
}

header {
  min-height: 100px;
  min-width: 1330px;
  display: flex;
  align-items: center;
}

p {
  font-family: "roboto";
}

.hamburger-label {
  float: left;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  display: block;
  font-family: "Roboto";
  font-weight: normal;
}

.hamburger-label:hover {
  color: #ffbd00;
}

#menu-icon {
  font-size: 1.5em;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  margin-left: 25px;
}

nav,
#hamburger-menu {
  display: none;
}

nav ul {
  padding: 0px;
}

nav li {
  text-align: center;
  display: inline;
  font-family: "Raleway";
  font-weight: bolder;
  padding: 10px;
}

nav a:hover {
  color: #ffbd00;
}

.logo {
  max-width: 100px;
}

header,
footer {
  background-color: #314f43;
  color: #fff;
}

footer {
  text-align: center;
}

/* Links */
a {
  text-decoration: none;
}

nav a {
  color: #fff;
}

/* Home page */
.welcome {
  background-image: url(../images/home-slogan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  min-height: 250vh;
  min-width: 200vh;
  position: relative;
}

h1 {
  color: #fff;
}

h1 span {
  display: block;
  color: #fff;
}

h1,
h1 span {
  position: absolute;
}

.sp__beactive {
  color: #314f43;
}

/* Contact page*/
input,
select {
  border: 1px solid #000;
  border-radius: 50px;
}

textarea {
  border: 1px solid #000;
  border-radius: 10px;
}

.sub-head-about {
  font-family: "dancing script";
}

.cta-submit {
  background-color: #314f43;
}

/* Jackets page */

.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item {
  padding: 10px;
  margin: 10px 0px 0px 50px;
}

.product-photo {
  width: 200px;
  height: 250px;
}

.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.h2 {
  margin: 0px;
  text-align: center;
}
.p {
  margin: 0px;
  text-align: center;
}

/* Product Specific Page */
.product-specific {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

.product-specific > * {
  flex: 1;
}

.product-image {
  width: 500px;
  height: 600px;
}

.product-image_thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.breadcrumbs {
  color: #ffbd00;
  font-family: "raleway";
  font-size: 0.5em;
}

p {
  color: #314f43;
  font-family: "montserrat";
}

#info-icon {
  color: #ffbd00;
  margin: 0px;
  padding-left: 2px;
}

.info-section {
  background-color: #e3e3e2;
  color: #314f43;
  max-width: 280px;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

.cta {
  background-color: #314f43;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  max-width: 100px;
  padding: 10px;
}

.cta:hover {
  background-color: #97a6a0;
}

#sizes {
  background-color: #fff;
  color: #97a6a0;
  border-radius: 50px;
  border-style: solid;
  font-family: "raleway";
  font-weight: lighter;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  margin-top: 5px;
}

#sizes:hover {
  color: #000;
}

@media (min-width: 600px) {
  .products {
    flex-direction: row;
  }
}
